.headerRow {

	.imageLogo {
		flex: 0 0 9%;
		max-width: 9%;
		display: flex;
		align-items: center;

		img {
			height: 75px;
			width: auto;
		}
	}

	.menuBox {
		flex: 0 0 76%;
		max-width: 76%;

		.menuButton {
			display: none;
		}

		.menuItem {
			flex: 0 0 100%;
			max-width: 100%;

			&.linkWhite {
				a {
					color: #fff;
				}
			}

			&.linkDark {
				a {
					color: #000;
				}
			}
		}

		.logoResponsive {
			display: none;
		}

	}

	.userButton {
		flex: 0 0 15%;
		max-width: 15%;
	}
}








$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
	.container {
		width: 100%;
		max-width: 100% !important;
		padding: 0 !important;
	}

	.headerRow {


		.menuBox {
			flex: 0 0 100%;
			max-width: 100%;
			background-color: #fff;
			padding: 15px 30px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;

			.menuItem {
				position: absolute;
				opacity: 0.3;
				left: -1000px;
				margin: 0 auto;
				width: 100%;
				height: auto;
				z-index: 999;
				background: #262626;
				top: 80px;
				box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.12);

				padding: 20px 30px;

				&.linkDark {
					a {
						color: #fff !important;
					}
				}

				ul {
					flex-wrap: wrap;
					align-content: start;

					li {
						&:last-child {
							border: none;
						}

						flex:0 0 100%;
						max-width:100%;
						margin: 0 !important;
						border-bottom: 1px solid rgba(255, 255, 255, 0.05);

						a {
							width: 100%;
							padding: 15px 0;
						}
					}
				}
			}

			.menuItem.open {
				left: 0;
				right: 0;
				opacity: 1;
			}

			.menuButton {
				display: flex;
				align-items: center;
				justify-content: right;
				font-size: 2rem;
				cursor: pointer;
				flex: 0 0 28px;
				max-width: 28px;
				color: #262626;
			}


			.logoResponsive {
				display: flex;
				flex: 0 0 220px;
				max-width: 220px;
				justify-content: left;
				align-items: center;

				button {
					background: none;
					font-size: 1.3rem;
					border: none;
					outline: none;
					padding: 0;
					display: flex;
					align-items: center;

					&:focus {
						box-shadow: none;
						border: none;
						background: none;
					}

					span {
						font-size: 0.7rem;
						display: block;
						margin-left: 3px;
					}
				}
			}
		}

		.imageLogo {
			flex: 0 0 50%;
			max-width: 50%;
			padding-right: 30px;
			padding-bottom: 10px;
			padding-left: 0;
			display: none;

			img {
				height: auto;
			}
		}

		.userButton {
			display: none;
		}
	}
}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {}

$breakpoint-sm-mobile: 575px;

@media (max-width: $breakpoint-sm-mobile) {}