.imageLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imageLogo img {
  height: 75px;
  width: auto;
}

.menuItem.linkWhite a {
  color: #fff;
}

.menuItem.linkDark a {
  color: #000;
}
/*# sourceMappingURL=Header.module.css.map */