.sidebar {
    height: 100%;
	.menu {
        box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.5);
		width: 130px;
        height: 100%;
    }
    .submenu{
        box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.5);
		width: 180px;
        height: 100%;

    }
}   
