@import "./modules/base";
@import "./modules/spaces";
@import "./modules/customizeReactBootstrap.scss";

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex-row {
  display: flex;
}

.f-100 {
  flex: 0 0 100%;
  max-width: 100%;
}

.text-justify {
  text-align: justify;
}

.p-relative {
  position: relative;
}

.border-green {
  border-color: #30af5e !important;
}

.bg-green {
  background-color: #30af5e;
}

.bg-white {
  background-color: #fff;
}

.text-green {
  color: #30af5e;
}

.p-wide {
  padding-right: 15px;
  padding-left: 15px;
}

.FixedMenu {
  background-color: #fff !important;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);


  a {
    color: #000 !important;
  }
  
  .btn {
    a {
      color: #30af5e !important;
      &:hover {
        color: #fff !important;
      }
    }
    &:hover {
      background-color: #30af5e !important;
      a{
        color: #fff !important;

      }
    }
  }
}

.ltr-dir{
  direction: ltr;
}

.clr {
  clear: both;
}

.btn-outline-success {
  color: #fff;
  border-color: #30af5e;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #30af5e;
  border-color: #30af5e;
}

.text {
  font-size: 0.9rem;
  line-height: 1.7;
}

.sm-text {
  font-size: 0.8rem;
  line-height: 1.6;
}

.btn-outline-success {
  color: #30af5e;
  border-color: #30af5e;
}

.btn-success {
  color: #fff;
  background-color: #30af5e !important;
  border-color: #30af5e !important;
}

.btn-primary {
  background-color: #2886bc;
  border-color: #2886bc;
}

.btn-outline-primary {
  color: #2886bc;
  border-color: #2886bc;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #2886bc;
  border-color: #2886bc;
}

.text-darkBlue {
  color: #263238;
}

.subText {
  font-size: 0.7rem;
}

.FaNum {
  font-family: "FaNum";

  a {
    font-family: "FaNum";
  }
}

.icon {
  font-size: 2rem;
}

.transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.transition-5 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cursor-pointer {
  cursor: pointer;
}

.swiper-wrapper {
  align-items: stretch !important;
}

.toman {
  font-size: 0.7rem;
  color: #8a8a8a;
}

.video-js .vjs-big-play-button {
  background-color: rgba(15, 171, 198, 0.9) !important;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50% !important;
  box-shadow: 0px 0px 30px rgba(15, 171, 198, 0.66);
  border: 3px solid #fff !important;
}

.swiper-slide {
  height: auto !important;
}

.swiper-wrapper {
  overflow: hidden;
}


$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
  .text-light-menuRsp {
    color: #30af5e !important;

    &:hover {
      color: #f8f9fa !important;
    }
  }
}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {

  .h1,
  h1 {
    font-size: 2rem;
  }

  .h4,
  h4 {
    font-size: 1.3rem;
  }

  .btn {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.8rem;
  }
}

$breakpoint-sm-mobile: 575px;

@media (max-width: $breakpoint-sm-mobile) {
  .btn {
    font-size: 0.8rem;
  }

  .sm-text {
    font-size: 0.8rem;
  }
}

.border {
  border: 1px solid;

  &-b {
    border-bottom: 1px solid;
  }

  &-t {
    border-top: 1px solid;
  }

  &-r {
    border-right: 1px solid;
  }

  &-l {
    border-left: 1px solid;
  }
}

.radius {
  border-radius: 15px;
}

.rotate {
  &-180 {
    transform: rotate(180deg);
    transition-duration: 0.8s;
    transition-property: transform;
  }
}