.headingImg {
    height: 100%;
    min-height: 560px;
    background-position: center center;
    background-size: cover;
    position: relative;

    .titleHeader::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: 0px 0px 20px 7px rgb(0, 0, 0);
        filter: blur(25px);
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .titleHeader {
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
        z-index: 9;
        margin: 0 auto;

        .greenHeader {
            color: #30af5e;
            font-size: 2.4rem;
        }

        .whiteHeader {
            color: #ffffff;
            font-size: 2.2rem;
        }
    }

}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
    .headingImg {
        height: 100%;
        min-height: 160px;
    }
}