.headingImg {
  height: 100%;
  min-height: 560px;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.headingImg .titleHeader::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 20px 7px black;
          box-shadow: 0px 0px 20px 7px black;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.headingImg .titleHeader {
  text-shadow: 0px 0px 20px black;
  z-index: 9;
  margin: 0 auto;
}

.headingImg .titleHeader .greenHeader {
  color: #30af5e;
  font-size: 2.4rem;
}

.headingImg .titleHeader .whiteHeader {
  color: #ffffff;
  font-size: 2.2rem;
}
/*# sourceMappingURL=HeadingCard.module.css.map */