.teamCard {
  border: none;
  -webkit-box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.16);
}

.teamCard .teamPic {
  height: 230px;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);
}

.teamCard .title {
  font-size: 1rem;
}

.teamCard .subTitle {
  font-size: 0.9rem;
}

.teamCard .cardBody {
  position: relative;
}

.teamCard .cardBody::before {
  content: "";
  background-color: rgba(48, 175, 94, 0.39);
  height: 25px;
  width: 100%;
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
}

.aboutCard p {
  font-size: 0.85rem;
  line-height: 1.7;
}
/*# sourceMappingURL=OurTeam.module.css.map */