.teamCard {
    border: none;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.16);
    max-width: 255px;
    margin: 0 auto;

    .teamPic {
        height: 230px;
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -ms-filter: grayscale(1);
        -o-filter: grayscale(1);
        filter: grayscale(1);
    }

    .title {
        font-size: 1rem;
    }

    .subTitle {
        font-size: 0.9rem;
    }

    .cardBody {
        position: relative;
    }

    .cardBody::before {
        content: "";
        background-color: rgba(48, 175, 94, 0.39);
        height: 25px;
        width: 100%;
        position: absolute;
        top: -25px;
        left: 0;
        right: 0;
    }
}

.aboutCard {
    p {
        font-size: 0.85rem;
        line-height: 1.7;
    }
}