.certificatePropertyBox{
    margin-top: -40px;
    
    .number{
        font-size: 4rem;
        margin: 0 auto;
       
    }
    &:hover{
        .number{
          color: #3080af;;
        }
    }
    .text{
        font-size: 0.8rem;
        line-height: 1.7;
        text-align: center;
    }
}


$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
    .certificatePropertyBox{
        margin-top: 0px;
    }
}
