.LogRegWrapper {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.LogRegBox {
	max-width: 991px;
	background: #fff;
	box-shadow: 0px 0px 54px rgba(72, 72, 72, 0.33);
	// max-height: 100%;
	//overflow: hidden;
	border-radius: 15px;
	width: 90%;
	padding: 15px;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 9;

	.background {
		background: rgb(48,175,94);
		background: linear-gradient(45deg, rgba(48,175,94,1) 0%, rgba(105,203,141,1) 100%); 
		flex: 0 0 40%;
		max-width: 40%;
		padding: 35px 25px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: right;
		position: relative;
		align-content: start;
		border-radius: 10px;
		min-height: 425px;

		.img {
			img {
				max-width: 270px;
				position: absolute;
				left: -70px;
				bottom: -2px;
			}
		}

		.desc {
			text-align: right;
			color: rgba(255, 255, 255, 0.8);
			padding: 25px;

			.title {
				font-size: 2rem;
				color: #fff;
			}

			.subTitle {
				font-size: 1.5rem;
				color: #fff;
			}
		}
	}

	.LogReg {
		flex: 0 0 60%;
		max-width: 60%;
		padding-right: 85px !important;
	}
}



$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
	.LogRegBox {
		top: 20px;
		padding-bottom: 80px;

		.background {
			flex: 0 0 100%;
			max-width: 100%;
			min-height: 280px;
			align-content: center;
			
			.desc {
				flex: 0 0 50%;
				max-width: 50%;
			}

			.img {
				flex: 0 0 50%;
				max-width: 50%;
				padding: 25px;

				img {
					max-width: 100%;
					position: relative;
					left: auto;
					bottom: auto;
					max-height: 200px;
				}
			}
		}

		.LogReg {
			flex: 0 0 100%;
			max-width: 100%;
			padding-right: 0px !important;
		}
	}
}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
	.LogRegBox {
		width: 100%;
		position: relative;
		top: auto;
		box-shadow: none;
		padding: 0;
		border-radius: 0;
padding-bottom: 80px;

		.background {
			border-radius: 0;
			position: relative;
			padding-bottom: 20px !important;

			&:after {
				content: "";
				width: 100%;
				position: absolute;
				right: 0;
				bottom: -2px;
				left: 0;
				background-image: url(../../../../public/images/responsiveAfterLogReg.png);
				background-size: cover;
				background-repeat: no-repeat;
				height: 44px;
				z-index: 9;
			}

			.desc {
				padding-left: 15px;
				.title {
					font-size: 1.8rem;
					 
				}
				.subTitle {
					font-size: 1.2rem;
				}
			}
		}

		.LogReg {
			padding-right: 25px !important;
			padding-left: 25px !important;
		}
	}
}