.staticCards {
  width: 100%;
  border: 3px solid;
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5);
}

.staticCards .staticTitles {
  font-size: 0.9rem;
}

.staticCards .staticIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

.staticCards .staticNumber {
  font-size: 1.1rem;
  font-weight: bold;
}
/*# sourceMappingURL=Statics.module.css.map */