.rspeFixedMenu {
    display: none !important;
}

$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
    .rspeFixedMenu {
        display: flex !important;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px -2px 18px rgba(0, 0, 0, 0.15);
        padding: 10px 0;
        z-index: 99;

        // border-top: 2px solid rgba(0, 0, 0, 0.12);
        .rspeFixedMenuItems {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            opacity: 0.4;

            img {

                width: 30px;
            }

            p,
            a {
                flex: 0 0 100%;
                margin-top: 5px;
                font-size: 0.75rem;
                color: #000;
            }
        }

        .rspeFixedMenuItems.active {
            opacity: 0.8;
        }
    }

}