.background {
    background-image: url(../../public/images/404_background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 640px;
    padding: 50px;
    position: relative;

    &:after {
        background: rgba(20, 29, 40, 0.8);
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
}

.errorBox {
    z-index: 99;
    position: relative;
    width: 95%;
    max-width: 385px;
    margin: 0 auto;

    &:before {
        content: '';
        position: absolute;
        display: inline-block;
        top: -84px;
        left: -67px;
        height: 420px;
        width: 250px;
        -webkit-mask: url("../../public/images/border-img.png") no-repeat left / cover;
        background-color: #30af5e;
    }

    .header {
        h1 {
            font-size: 9rem;
            color: #fff;
            text-align: center;
            font-weight: bold;
            margin-bottom: 0;
        }

        p {
            font-size: 5rem;
            color: #fff;
            text-align: center;
            font-weight: bold;
            line-height: 1.2;

            .green {
                color: #30af5e;
            }
        }
    }

    .body {
        margin-top: 20px;
        text-align: center;

        p {
            text-align: center;
            color: #fff;
            font-size: 1.2rem;
        }

        a {
            color: #fff;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.56);

            .icon {
                margin-right: 5px;
            }
        }
    }
}