.contactBox {
    background-image: url(../../public/images/Subtraction.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        right: 45px;
        width: 100%;
        height: 100%;
        top: 60px;
        background-image: url(../../public/images/phone-call.png);
        background-position: top right;
        background-repeat: no-repeat;
    }
    .contactInfo {
        li {
            p {
                margin-bottom: 0;
            }
            span {
                font-size: 0.85rem;
            }
        }
    }
}


$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
    .mapContact{
        display: none ;
    }
}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
    .mapContact{
        display: flex ;
        text-align: center;
        display: block;
    }
}