.faqBox {
    background-image: url(../../public/images/questionnaire-line.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.faq {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    li {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 10px;
    }
}

.faqCategory {
    background: #f8f8f8;
    padding: 10px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    .items {
        font-size: 0.85rem;
        color: #626262;

        .icon {
            margin-left: 5px;
            color: #30af5e;
        }

        &:hover {
            color: #30af5e;

            .icon {
                margin-left: 8px;
            }
        }
    }
}

.searchFaq {
    width: 100%;
}

.faqList {
    max-width: 100%;
    flex: 0 0 100%;

    .items {
        width: 100%;

        .header {
            background-color: #eff2f7;
            font-size: 0.85rem;
            color: #000;

            svg {
                color: #30af5e;
            }
        }

        .body {
            font-size: 0.85rem;
            color: #515151;
        }
    }
}

$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
    .faq {
        li {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
    .searchFaq {
        width: 100%;
    }
}