.features {
  z-index: 9;
  position: relative;
  margin-top: -90px;

  .featuresBox {

    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 51.3px 5.7px rgba(137, 143, 156, .15);

    .featuresBg {
      width: 90px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      background-color: #30af5e;
      border-radius: 33% 66% 70% 30%/49% 62% 38% 51% !important;

      img {
        width: 50px;
        height: auto;
      }
    }

    &:hover {
      .featuresBg {
        background-color: #262626;
      }
    }

    .text {
      font-size: 1rem;
      margin-top: 25px !important;
      font-weight: bold;
    }


  }
}


.mainTitle {
  position: relative;
  text-align: center;
  max-width: 450px;

  .title {
    color: #575757;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  .text {
    color: #797979;
    font-size: 0.85rem;
    line-height: 1.7;
  }
}

.mainTitle::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 82px;
  background-image: url(../../public/images/Repeat-Grid.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeBanner {
  height: 550px;
  overflow: hidden;

  .homeVideo {
    width: 100%;
    filter: blur(6px);
  }

  .homeTitle {
    position: absolute;
    top: 95px;
    right: 0;
    left: 0;
    margin: 0 auto;
    color: #fff;
    z-index: 9;

    .text {
      max-width: 450px;
      text-align: center;
      margin: 0 auto;

      .title {
        font-size: 2.3rem;
        font-weight: bold;
      }

      .subTitle {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .small {
        font-size: 0.85rem;
      }

      button {
        font-size: 0.9rem;

        .icon {
          font-size: 1.5rem;
        }
      }
    }
  }

  .logoRsp {
    display: none;
  }
}

.homeBanner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

.homeBanner::after {
  content: "";
  width: 100%;
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;
  background-image: url(../../public/images/homeBannerSvg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 108px;
  z-index: 9;
}

.webSitesWrapp {
  background-image: url(../../public/images/hosseinifinance_team.png);
  background-size: cover;
  background-repeat: no-repeat;

  .col {
    cursor: pointer;

    &:first-child {
      margin-top: -50px;
    }

    &:last-child {
      margin-top: 50px;
    }
  }

  .items {
    border-radius: 100%;
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 3px 13px -4px rgba(0, 0, 0, 0.17);
    margin: 0 auto;
    ;

    .img {
      img {
        max-width: 100%;
      }
    }

  }
}

.application {
  background: rgb(214, 214, 214);
  background: linear-gradient(0deg, rgba(214, 214, 214, 1) 0%, rgba(245, 245, 245, 1) 50%);

  .title {
    font-weight: 300;
  }

  .text {
    p {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.financialSteps {
  .item {
    box-shadow: 0 0 13px -4px rgba(0, 0, 0, 0.17);
    padding: 2rem 1.5rem;
    height: 100%;

    .image {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
      margin-bottom: 1.5rem;

      span {
        position: relative;

        &:after {
          position: absolute;
          content: '';
          left: 50%;
          bottom: -3px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 34.5px 60px 34.5px;
          border-color: transparent transparent #eaeaea transparent;
          transform: translate3d(-50%, 0, 0) rotate(15deg);
          transform-origin: 50% 80%;
          transition: all .3s ease;
          z-index: -1;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }

        img {
          width: 47px;
        }
      }
    }

    .desc {
      flex: 0 0 100%;
      max-width: 100%;

      .seprator {
        position: relative;
        max-width: 126px;
        width: 100px;
        height: 2px;
        margin: 20px auto 22px;

        &:after {
          position: absolute;
          content: '';
          height: 100%;
          left: 50%;
          right: 50%;
          background: #bee1cd;
          transition: all .3s ease;
        }

        &:before {
          position: absolute;
          content: '';
          height: 100%;
          bottom: 0;
          left: 15px;
          right: 15px;
          margin: 0 auto;
          background: #d7d7d7;
          transition: all .3s ease;
        }
      }

      .text {
        text-align: justify;
        word-spacing: -2px;
        font-size: 0.85rem;
        color: #575757;
      }
    }

    &:hover {
      .image {
        span {
          &:after {
            transform: translate3d(-50%, 0, 0) rotate(0deg);
          }
        }
      }

      .desc {

        .seprator {

          &:after {
            left: 0;
            right: 0;
          }

          &:before {
            left: 50%;
            right: 50%;
            transition-duration: .2s;
          }
        }
      }
    }
  }
}

$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
  .homeBanner {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .homeTitle {
      padding-top: 0 !important;
      top: 55px;
      max-width: none;
      padding: 0 30px;

      .text {
        max-width: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        justify-content: center;

        .paragraph {
          flex: 0 0 50%;
          max-width: 50%;
          text-align: right;
          justify-content: right !important;
        }

        .logoButtons {
          flex: 0 0 50%;
          max-width: 50%;
          margin-top: 0 !important;
        }

        .logoRsp {
          display: flex;
          margin-bottom: 20px;
          justify-content: center;
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }

  .features {
    margin-top: 0px;
    padding-top: 2.5rem;
  }

  .financialSteps {
    .item {
      padding: 2rem 0.5rem 0;
      max-width: 290px;
      margin: 0 auto;

      .desc {
        .title {
          font-size: 0.85rem;
        }

        .text {
          display: none;
        }
      }
    }
  }

  .webSitesWrapp {
    .items {
      width: 120px;
      height: 120px;
    }
  }
}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
  .homeBanner {
    background-image: url(../../public/images/homeBannerBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 322px;

    .homeTitle {
      position: relative;
      top: auto;

      .text {


        .title {
          font-size: 1.6rem;
          margin-bottom: 0 !important;
        }

        .subTitle {
          font-size: 0.9rem;
        }

        .small {
          font-size: 0.7rem;
        }
      }

    }

    .homeVideo {
      display: none;
    }

    &:after {
      background-image: url(../../public/images/responsiveAfterLogReg.png);
      height: 44px;
    }

    &:before {
      display: none;
    }

  }

  .homeBanner::after {
    display: none;
  }

  .webSitesWrapp {

    .col {
      &:first-child {
        margin-top: 0px;
      }

      &:last-child {
        margin-top: 0px;
      }
    }
  }
}

$breakpoint-sm-mobile: 575px;

@media (max-width: $breakpoint-sm-mobile) {
  .application {
    .desc {
      justify-content: center;
    }
  }

  .features {
    .featuresCol {
      width: 50%;
      padding: 0 10px;
    }

    .featuresBox {

      border-radius: 5px;
      border: none;
      box-shadow: 0 1px 51.3px 5.7px rgba(137, 143, 156, .15);

      .cardBody {
        padding: 0.5rem !important;
      }

      .featuresBg {
        width: 70px;
        height: 70px;

        img {
          width: 40px;
          height: auto;
        }
      }

      .text {
        font-size: 0.85rem;
        margin-top: 15px !important;

      }


    }
  }

  .webSitesWrapp {

    .col {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
      padding: 0 !important;

      &:first-child {
        margin-top: -20px;
      }

      &:last-child {
        margin-top: 20px;
      }

      .items {
        width: 90px;
        height: 90px;
        padding: 6px;
      }
    }
  }


}