.ticketTable {
    text-align: center;

    th {
        color: #30af5e;
        font-size: 0.9rem;

    }

    tbody tr {
        font-size: 0.9rem;
        color: #707070;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        a {
            font-size: 0.85rem;

            &:hover {
                color: #263238;
            }
        }
    }

    tbody tr:nth-of-type(odd) {
        background-color: rgba(48, 175, 94, 0.075);
    }

    tbody tr:hover {
        color: #212529;
        background-color: rgba(48, 175, 94, .075);
    }
}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {

    .descTitle {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}