.socialCart {
    background-color: #F2F2F2;
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
    padding: 5px 0;
    max-width: 100%;
    flex: 0 0 100%;
    margin: 0;

    .title {
        font-weight: bold;
        margin: 0;
        font-size: 0.75rem;
    }

    .icons {

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        li {
            img {}
        }
    }
}


$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
    .socialCart {


        .title {
            display: none;
        }
    }
}