.commentsBox{
    position: relative;box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.2);
    background-color: #262626;
    .img{
        height: 252px;
        width: 100%;
    }
    .desc{
        position: relative;
        .icon{
            color: #fff;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 20px;
            top: -25px;
            svg{
                font-size: 2.5rem;
            }
        }
       
        color: #ffffff;
        p{
            font-size: 1rem;
        }
        span{
            font-size: 0.8rem;
            color: rgba($color: #fff, $alpha: 0.7)
        }
    }
    &:hover{
        .desc{
            .icon{
              background-color: #3080af;;
            }
        }
    }
}