.videoPlay {

    position: relative;

    // &:before {
    //     position: absolute;
    //     content: "";
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(0, 0, 0, 0.5);
    //     top: 0;
    //     left: 0;
    //     right: 0;
    // }

}