.CourserCard {
  border-radius: 15px;
  border: none;
  -webkit-box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.16);
}

.CourserCard .imgCard {
  position: relative;
}

.CourserCard .imgCard .enTitle {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 0.85rem;
  max-width: 220px;
  line-height: 1.7;
}

.CourserCard .imgCard::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 50%);
}

.CourserCard .subTitle {
  color: #8a8a8a;
  font-size: 0.8rem;
}

.CourserCard .title {
  font-weight: bold;
  font-size: 1rem;
}

.CourserCard .text {
  font-size: 0.9rem;
  line-height: 1.7;
  color: #8a8a8a;
}

.CourserCard .currency {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
}

.CourserCard .button {
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CourserCard .button .icon {
  font-size: 1.2rem;
  margin-right: 5px;
}
/*# sourceMappingURL=GridCourserCard.module.css.map */