.CourserCard {
    border-radius: 15px;
    border: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12);
    height: 100%;
    max-width: 380px;
    margin: 0 auto;

    .imgCard {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: rgb(0, 0, 0);
            background: linear-gradient(-22deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 60%);
        }

        .counterBox {
            position: absolute;
            bottom: 15px;
            right: 10px;
            color: #fff;
            flex-direction: row-reverse;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            .counter {
                text-align: center;
                padding: 0 10px;
                font-size: 1.1rem;
                font-weight: bold;
                position: relative;

                &:first-child {
                    &:after {
                        content: "|";
                        position: absolute;
                        right: -5px;
                        top: 0;
                    }
                }

                &:last-child {
                    &:after {
                        content: ":";
                        position: absolute;
                        left: -5px;
                        top: 0;
                    }
                }

                .subNum {
                    font-size: 0.75rem;
                }
            }
        }
    }



    .subTitle {
        color: #8a8a8a;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: right;

        .icon {
            font-size: 1rem;
            margin-left: 3px;
        }
    }

    .title {
        font-weight: bold;
        font-size: 1rem;
    }

    .text {
        font-size: 0.8rem;
        line-height: 1.6;
        color: #8a8a8a;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .button {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;


        .icon {
            padding: 6px;
            width: 35px;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            position: absolute;
            top: 0;
            left: 0;
        }
    }



    .footer {
        border-top: 1px solid #E6E6E6;

        .info {
            flex: 0 0 60%;
            max-width: 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: right;

            .text {
                font-size: 0.8rem;
                color: #8a8a8a;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .price {
            flex: 0 0 40%;
            max-width: 40%;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            align-content: center;

            .saleTitle {
                background-color: #EF394E;
                color: #fff;
                font-size: 0.7rem;
                margin-right: 5px;
                border-radius: 5px;
                padding: 0.2rem 0.3rem;
            }

            .currency {
                color: rgba($color: #000, $alpha: 0.6);
                font-size: 0.8rem;
                margin-right: 3px;
            }

            .oldPrice {
                position: relative;
                color: #8a8a8a;
                display: inline-block;
                font-weight: bold;
                font-size: 0.85rem;

                .currency {
                    color: #8a8a8a
                }

                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 10px;
                    width: 100%;
                    height: 1px;
                    background-color: #999;
                    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
                    margin: 0 auto;

                }
            }

            .mainPrice {
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }
}

$breakpoint-sm-mobile: 575px;

@media (max-width: $breakpoint-sm-mobile) {

    .saleTitle {
        display: none !important;
    }
}