@import "./font";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: "IRANYekan";
  font-family: "IRANSans";
  text-align: right;
}
html{
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  scroll-behavior: smooth;
  background-size: cover;
  
  // overflow-x: hidden;
}

html,
body {
  // font-family: "IRANYekan";
  font-family: "IRANSans";
  direction: rtl;
  text-align: right;
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 0.9rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  font-size: 0.9rem;
  line-height: 1.7;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.form-control:focus {
  border-color: #30af5e;
  box-shadow: 0 0 0 .2rem rgba(48, 175, 94, 0.25);
}


$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
  body{
    overflow-x: hidden;
  }
}

$breakpoint-sm-mobile: 575px;

@media (max-width: $breakpoint-sm-mobile) {
  p {
    font-size: 0.8rem;
  }
}