.text-success {
    color: #30af5e !important;
}

.pagination {


    li {
        a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border-radius: 3px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            color: #fff;

            a {
                background-color: #30af5e;
            }
        }
    }

    .active {
        a {
            background-color: #30af5e;
            color: #fff !important;
        }
    }

    .previous,
    .next {
        &:hover {
            color: #30af5e;

            a {
                background-color: #fff;
                font-size: 1.3rem;
            }
        }
    }

}

.modal {
    overflow-y: hidden !important;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.modal.show .modal-dialog {
    height: 100%;
    margin: 0 auto !important;
}

.modal-header {
    padding-top: 0;
}

.modal-content {
    height: 100%;
    padding: 20px;
    width: 100%;
    // display: flex;
    // flex-flow: row wrap;
}

.modal-body {
    height: 100%;
    padding: 0;
    // flex: 0 0 100%;
    // max-width: 100%;
}

.video-js.vjs-fluid,
.video-js.vjs-16-9,
.video-js.vjs-4-3 {
    height: 100% !important;
    padding: 0 !important;
}

.video-js .vjs-tech {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.alert {
    position: relative;
    padding: .5rem 1.25rem;
    font-size: 0.8rem;
}

.alert-dismissible .close {
    right: auto;
    left: 0;
    padding: .35rem 1.25rem;

}

.alert-dismissible {
    padding-right: 1.25rem;
    padding-left: 4rem;
}

.form-group {
    label {
        display: flex;
        align-items: center;
        color: #2886BC;
        color: #30af5e;
        font-size: 0.8rem;

        svg {
            margin-left: 5px;
            font-size: 1rem;
        }
    }
}

.btn.logRegSubmit:hover,
.btn.logRegSubmit:active {
    color: #fff;
    background-color: #263238;
    border-color: #263238;
}

.form-text {
    font-size: 0.7rem;
    text-align: left;
}

.form-control {
    font-size: 0.8rem;
}

.form-control:focus {
    border-color: #30af5e;
    box-shadow: 0 0 0 0.2rem rgba(48, 175, 94, 0.25);
}

.input-group-prepend {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    .input-group-text {

        z-index: 9;
        color: #b8b8b8;
        background: none;
        border: none;

        cursor: pointer;
    }
}

.form-group-file {

    position: relative;

    .form-label {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        padding: 0.5rem 0.75rem;
        border-radius: .2rem;
        border: 1px solid #30af5e;
        display: flex;
        justify-content: center;
    }

    .form-file {
        opacity: 0;

        .form-control-file {
            cursor: pointer;
        }
    }
}

.createTicketUpload .form-group-file .form-label {
    padding: 0;
    border: none;

    svg {
        font-size: 1.6rem;
    }
}

.courseNav {
    .nav-link.active {
        background-color: #fff !important;
        border-radius: 0 !important;

        .title {
            font-weight: bold;
        }

        &:before {
            width: 15px;
            height: 15px;
            border-left: 2px solid #6c6c6c;
            content: "";
            position: absolute;
            bottom: -9px;
            right: 0px;
            left: 0;
            margin: 0 auto;
            transform: rotate(-45deg);
            border-bottom: 2px solid #6c6c6c;
            background: #fff;
        }
    }
}

$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {

    .video-js.vjs-fluid,
    .video-js.vjs-16-9,
    .video-js.vjs-4-3 {
        padding-top: 56.25% !important;
    }

    .modal.show .modal-dialog {
        height: auto;
    }

    .hiddenScroll.ScrollbarsCustom,
    .hiddenScroll .ScrollbarsCustom {
        height: 100% !important;
    }

    .hiddenScroll .ScrollbarsCustom-Wrapper {
        position: relative !important;
    }

    .hiddenScroll .ScrollbarsCustom-Scroller {
        position: relative !important;
        overflow: hidden !important;
        padding: 0 !important;
        margin: 0 !important;

    }

    .hiddenScroll .ScrollbarsCustom-Track {
        display: none !important;
    }
}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {

    .form-group label {
        font-size: 1.1rem;
    }

    .form-group-file .form-label {
        font-size: 0.7rem;
    }

    .btn.submit {
        font-size: 1.1rem;
    }
}