@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: normal;
	src: url("/fonts/iran-sans/IRANSans_Light.ttf") format("truetype");
}
@font-face {
	font-family: "FaNum";
	font-style: normal;
	font-weight: normal;
	src: url("/fonts/iran-sans/IRANSans_FaNum.ttf") format("truetype");
}
@font-face {
	font-family: "ForFa";
	font-style: normal;
	font-weight: normal;
	src: url("/fonts/englishFont/ForFa.ttf") format("truetype");
}
@font-face {
	font-family: "IRANYekan";
	font-style: normal;
	font-weight: bold;
	src: url("/fonts/iran-yekan/iranyekanwebbold.eot");
	src: url("/fonts/iran-yekan/iranyekanwebbold.eot") format("embedded-opentype"),
		url("/fonts/iran-yekan/iranyekanwebbold.ttf") format("truetype");
}

@font-face {
	font-family: "IRANYekan";
	font-style: normal;
	font-weight: 100;
	src: url("/fonts/iran-yekan/iranyekanwebthin.eot");
	src: url("/fonts/iran-yekan/iranyekanwebthin.eot") format("embedded-opentype"),
		url("/fonts/iran-yekan/iranyekanwebthin.ttf") format("truetype");
}

@font-face {
	font-family: "IRANYekan";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/iran-yekan/iranyekanweblight.eot");
	src: url("/fonts/iran-yekan/iranyekanweblight.eot") format("embedded-opentype"),
		url("/fonts/iran-yekan/iranyekanweblight.ttf") format("truetype");
}

@font-face {
	font-family: "IRANYekan";
	font-style: normal;
	font-weight: normal;
	src: url("/fonts/iran-yekan/iranyekanwebregular.eot");
	src: url("/fonts/iran-yekan/iranyekanwebregular.eot") format("embedded-opentype"),
		url("/fonts/iran-yekan/iranyekanwebregular.ttf") format("truetype");
}

@font-face {
	font-family: "IRANYekan";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/iran-yekan/iranyekanwebmedium.eot");
	src: url("/fonts/iran-yekan/iranyekanwebmedium.eot") format("embedded-opentype"),
		url("/fonts/iran-yekan/iranyekanwebmedium.ttf") format("truetype");
}
