.CourserCard {
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);

    .img {

        img {
            width: 150px;
            height: 140px;
            border-radius: 15px;
        }
    }

    .desc {

        .title {
            font-size: 1rem;
            color: #263238;
        }

        .info {

            ul {

                li {
                    font-size: 0.75rem;
                    margin-bottom: 10px;
                    color: #8A8A8A;
                    display: flex;
                    align-items: center;

                    .icon {
                        color: #30af5e;
                        font-size: 1rem;
                        margin-left: 5px;
                    }
                }
            }

            .iconLeft {
                font-size: 1.1rem;

                margin-right: 3px;
            }
        }
    }
}



$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
    .CourserCard {

        .img {
          margin-bottom: 20px;
            text-align: center;
        }

        .desc {}

    }
}