.titleBox {
    position: relative;
    text-align: right;
    .title {
        background-color: #fff;
        z-index: 9;
        position: relative;
        padding: 0 10px;
        padding-right: 20px;
        font-weight: bold;
        color: #263238;
        &.lightTitle{
            background-color: #f8f8f8;
        }
        &:before {
            content: "";
            width: 12px;
            height: 12px;
            position: absolute;
            top: 5px;
            right: 0;
            border-radius: 100%;
            border: 2px solid rgba(48, 175, 94, 0.55);
        }
    }

    &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        background-color: rgba(48, 175, 94, 0.55);
        box-shadow: 0px 0px 3px rgba(48, 175, 94, 0.25);
    }
}