.footer {
  background-color: #262626;
  color: #ffffff;
}

.footer .md {
  max-width: 30%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.footer .md .footerLogo {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #707070;
  margin-bottom: 20px;
}

.footer .md .footerAbout {
  text-align: justify;
}

.footer .md .footerAbout p {
  font-size: 0.85rem;
  line-height: 1.7;
}

.footer .md .footerSocial ul li {
  padding: 0 10px;
}

.footer .md .footerSocial ul li svg {
  font-size: 1.25rem;
  color: #8a8a8a;
}

.footer .md .footerSocial ul li img {
  width: 20px;
}

.footer .lg {
  max-width: 45%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.footer .lg ul li {
  font-size: 0.85rem;
  margin-bottom: 20px;
}

.footer .lg ul li:first-child {
  color: #30af5e;
  font-weight: bold;
}

.footer .lg ul li .icon {
  font-size: 1.1rem;
  vertical-align: middle;
  margin-left: 5px;
}

.footer .sm {
  max-width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.footer .sm img {
  height: 100%;
  width: 100%;
  display: block;
}
/*# sourceMappingURL=Footer.module.css.map */