.footer {
    background-color: #262626;
    color: #ffffff;

    .md {
        max-width: 30%;
        flex: 0 0 30%;

        .contact {
            display: none;
        }

        .footerLogo {
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 2px solid #707070;
            margin-bottom: 20px;

            img {
                height: 80px;
            }
        }

        .footerAbout {
            text-align: justify;

            p {
                font-size: 0.8rem;
                line-height: 1.7;
            }
        }

        .footerSocial {
            ul li {
                padding: 0 10px;

                svg {
                    font-size: 1.25rem;
                    color: #8a8a8a;
                }

                img {
                    width: 20px;
                }
            }
        }
    }

    .lg {
        max-width: 45%;
        flex: 0 0 45%;

        ul li {
            font-size: 0.85rem;
            margin-bottom: 20px;

            &:first-child {
                color: #30af5e;
                font-weight: bold;
            }

            .icon {
                font-size: 1.1rem;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }

    .sm {
        max-width: 25%;
        flex: 0 0 25%;

        img {
            height: 100%;
            width: 100%;
            display: block;
        }
    }
}



@media (max-width: 1200px) {
    .footer {
        .lg {
            flex: 0 0 60%;
            max-width: 60%;
            padding-left: 2rem !important;
        }

        .md {
            flex: 0 0 40%;
            max-width: 40%;
        }

        .sm {
            display: none;
        }
    }
}


$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
    .footer {
        padding-bottom: 95px;
    }
}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
    .footer {
        .lg {
            flex: 0 0 100%;
            max-width: 100%;
            display: none !important;
        }

        .md {
            text-align: center;

            .contact {
                text-align: center;
                display: block;

                a {
                    width: 100%;
                    display: block;
                    color: #30af5e;

                }

                span {
                    width: 100%;
                    display: block;

                }
            }

            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 2rem !important;

            .footerSocial {
                ul {
                    justify-content: center !important;
                    li{
                        padding: 0 15px;
                        svg{
                            font-size: 1.5rem;
                        }
                        img {
                            width: 24px;
                        }
                    }
                }

            }
        }

    }
}

$breakpoint-sm-mobile: 575px;

@media (max-width: $breakpoint-sm-mobile) {}