.headerAfter {
    position: relative;

    :after {
        content: "";
        position: absolute;
        bottom: -37px;
        left: 0;
        right: 0;
        width: 100%;
        height: 4px;
        background-color: #30AF5E;
    }
}


$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
    .headerAfter {

        :after {
            display: none;
        }
    }

}