.headerAfter {
  position: relative;
}

.headerAfter :after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #30AF5E;
}
/*# sourceMappingURL=MenuItem.module.css.map */