.backgroundListCourses {
    background-image: url(/images/backgroundListCourses.png);
    min-height: 500px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 120px 0;

    &:after {
        content: "";
        width: 100%;
        position: absolute;
        right: 0;
        bottom: -2px;
        left: 0;
        background-image: url(/images/homeBannerSvg.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 108px;
        z-index: 9;

    }

    .mainTitle {
        position: relative;
        text-align: center;
        max-width: 450px;

        .title {
            color: #fff;
            font-size: 1.8rem;
            margin-bottom: 1rem;
            line-height: 1.5;
        }

        .text {
            color: #fff;
            font-size: 0.85rem;
            line-height: 1.7;
        }
    }

    .mainTitle::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        height: 82px;
        background-image: url(/images/RepeatGrid-white.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.bgCourse {
    background-image: url(/images/courses-bg.jpg);
    min-height: 340px;
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .navigation {
        li {

            a {
                color: #fff;
                position: relative;
                font-size: 0.9rem;

                &:after {
                    content: "/";
                    margin: 0 15px;
                    color: #fff;
                }
            }

            span {
                font-size: 0.9rem;
                color: #fff;

            }
        }
    }

    .heading {
        color: #fff;

        .title {}
    }
}

.videoRow {
    margin-top: -150px;
    width: 100%;

    .CourseVideo {
        flex: 0 0 70%;
        max-width: 70%;

        .cardImg {
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.17);
            border: none;
            display: flex;

            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                background: rgb(48, 175, 94);
                background: linear-gradient(53deg, rgba(0, 134, 48, 0.5) 0%, rgba(144, 0, 17, 0.5) 100%);
            }


            .icon {
                position: absolute;
                left: 0;
                right: 0;
                justify-content: center;
            }
        }

        .card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.17);


        }

        .tabInformation {
            display: flex;
            align-items: center;
            border-bottom: 2px solid #6c6c6c;

            .items {
                a {
                    text-align: center;
                    font-size: 1rem;
                    position: relative;
                }

                .icon {
                    color: #6c6c6c;
                    font-size: 1.2rem;
                    margin-left: 8px;
                }

                .title {
                    color: #6c6c6c;
                    font-size: 0.9rem;
                }
            }
        }

        .bodyInformation {
            .description {
                font-size: 0.9rem;


                p,
                li,
                strong,
                b {
                    font-size: 0.9rem;
                    text-align: justify;
                    word-break: break-word;
                    line-height: 1.8;
                }

                h2,
                h3,
                h4 {
                    font-size: 1.3rem;
                    color: #30af5e;
                    margin-bottom: 1rem;
                    margin-top: 1.5rem;
                }

                h3 {
                    font-size: 1.1rem;
                }

                h4 {
                    font-size: 0.95rem;
                    color: #000;
                }

                ul {
                    padding-right: 25px;
                }

                img {
                    margin: 1rem auto;
                }

            }

            .coursesList {
                .list {

                    .items {

                        border: 2px solid #ececec;
                        border-right: 3px solid #d0d0d0;
                        cursor: pointer;

                        &:hover {
                            background-color: #f8f8f8;
                            border-right: 3px solid #30af5e;
                        }

                        .title {
                            color: #575757;
                            font-size: 0.9rem;

                            .icon {
                                color: #30af5e;
                                margin-left: 10px;
                                font-size: 1.2rem;
                            }
                        }

                        .subTitle {
                            color: #8A8A8A;
                            font-size: 0.85rem;

                            .desc {
                                padding: 0 10px;
                                position: relative;

                                &:last-child {
                                    padding-left: 0;

                                    &:before {
                                        content: "";
                                        position: absolute;
                                        right: 0;
                                        top: 0;
                                        height: 100%;
                                        width: 1px;
                                        background-color: #c7c7c7;
                                    }
                                }
                            }
                        }
                    }

                    .active {
                        .items {
                            border-color: #262626;
                            background-color: #262626;
                            border-right: 3px solid #30af5e;

                            .title {
                                color: #fff;
                            }

                            .subTitle {
                                color: #B3B3B3;
                            }
                        }
                    }
                }
            }
        }
    }

    .CourseInfo {
        flex: 0 0 30%;
        max-width: 30%;

        .card {
            border-radius: 8px;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.17);
            border: none;


            .body {
                .item {
                    .icon {
                        // color: #267CD2;
                        color: #2da458;
                        font-size: 1.1rem;
                    }

                    .title {}
                }
            }

            .borderDash {
                width: 100%;
                border-bottom: 2px dashed #D3D3D3;
            }

            .footer {
                .price {
                    font-size: 1rem;
                    font-weight: bold;

                    .subPrice {
                        color: #353535;
                        font-size: 0.95rem;
                        margin-right: 5px;
                        font-weight: normal;
                    }

                    .mainPrice {
                        font-size: 1.3rem;
                    }

                    .oldPrice {
                        position: relative;
                        color: #777;
                        display: inline-block;

                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 15px;
                            width: 100%;
                            height: 1px;
                            background-color: #999;
                            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
                            margin: 0 auto;
                        }

                        .mainPrice {
                            font-size: 1.1rem;
                        }
                    }


                }

                .disCountCode {
                    .form {
                        position: relative;
                        border: 1px solid #cacaca;
                        border-radius: .25rem;
                        overflow: hidden;

                        .input {
                            width: 100%;
                            padding: 0.25rem 1.25rem;
                            border: none;
                        }

                        .button {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            padding: 0.25rem 1rem;
                            background-color: #EF394E;
                            font-size: 0.8rem;
                            color: #fff;
                            border: none;
                        }
                    }
                }

                .counterBox {
                    position: relative;

                    .text {
                        font-size: 0.8rem;
                        color: #575757;
                    }

                    .counter {
                        font-size: 1.2rem;
                        font-weight: bold;
                        flex-direction: row-reverse;

                        span {
                            color: #707070;
                            position: relative;
                            border-radius: 100%;
                            display: flex;
                            width: 50px;
                            height: 50px;
                            background-color: #F1F2F7;
                            padding: 0.25rem;
                            align-items: center;
                            justify-content: center;

                            &:before {
                                content: ":";
                                position: absolute;
                                right: -11px;
                                font-size: 1.5rem;
                            }

                            &:last-child {
                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {

    .videoRow {
        .CourseVideo {
            flex: 0 0 100%;
            max-width: 100%;

            .coursesList {
                .list {

                    .items {
                        flex-wrap: wrap;

                        .title {
                            width: 100%;
                        }

                        .subTitle {
                            width: 100%;
                            text-align: left;
                            margin-top: 15px;
                        }
                    }


                }
            }
        }

        .CourseInfo {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 30px;

            .card {
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;

                .borderDash {
                    display: none;
                }
            }

            .body {
                flex: 0 0 50%;
                max-width: 50%;


            }

            .footer {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

    }
}

$breakpoint-sm-mobile: 575px;

@media (max-width: $breakpoint-sm-mobile) {
    .videoRow {

        .CourseVideo {
            flex: 0 0 95%;
            max-width: 95%;

        }


        .CourseInfo {
            flex: 0 0 95%;
            max-width: 95%;

            .card {

                .borderDash {
                    display: block;
                }
            }

            .body {
                flex: 0 0 100%;
                max-width: 100%;

                .item {
                    justify-content: center;
                }
            }

            .footer {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

    }

    .bgCourse {

        .navigation {
            padding: 0 30px;
        }

        .heading {
            padding: 0 30px;
        }
    }

    .backgroundListCourses {
        min-height: auto;
        background-position: center right;
        padding: 80px 0;
    }
}