.certificateBox:nth-child(2) {
  margin-top: -2rem;
}

.certificateSteps {
  -webkit-box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
}

.certificateSteps .imageBox {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.certificateSteps .imageBox .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  margin: 0 auto;
}

.certificateSteps .imageBox .image img {
  max-height: 100%;
}

.certificateSteps .title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.certificateSteps .title span {
  color: #8A8A8A;
  font-size: 0.9rem;
}
/*# sourceMappingURL=CertificateSteps.module.css.map */